
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container.center-vertical
	form(method="post")#account-form.form-horizontal.well
		h2
		h6#sub1 Dinos algo de ti.
		hr
		.form-group
			label.control-label.col-sm-3 Nombre
			.col-sm-9
				input.form-control#name-tf(type='text', name='name', value= user.name)

		.form-group
			label.control-label.col-sm-3 Email
			.col-sm-9
				input.form-control#email-tf(type='text', name='email', value= user.email)

		.form-group
			label.control-label.col-sm-3 Ubicacion
			.col-sm-9
				select.form-control#country-list(name='country')
					each item in countries
						option(selected=item.name == user.country)= item.name
		hr
		h6#sub2
		.form-group
			label.control-label.col-sm-3 Username
			.col-sm-9
				input.form-control#user-tf(type='text', name='user', value= user.user).disabled

		.form-group
			label.control-label.col-sm-3 Password
			.col-sm-9
				input.form-control#pass-tf(type='password', name='pass', value='')

		.form-group
			label.control-label.col-sm-3 -
			.col-sm-9
				a(href='http://207.154.222.175/RegDirvorcio/') Registro Divorcio
				ul
		.form-group
			label.control-label.col-sm-3 -
			.col-sm-9
				a(href='http://207.154.222.175/RegMatrimonio/') Registro Matrimonio
				ul
		.form-group
			label.control-label.col-sm-3 -
			.col-sm-9
				a(href='http://207.154.222.175/RegDifuncion/') Registro Defuncion
				ul
		.form-group
			label.control-label.col-sm-3 -
			.col-sm-9
				a(href='http://207.154.222.175/regnacimiento/') Registro Nacimiento
				ul
		.form-group
			label.control-label.col-sm-3 -
			.col-sm-9
				a(href='http://207.154.222.175/actanacimiento/') Acta Nacimiento
				ul
		.form-group
			label.control-label.col-sm-3 -
			.col-sm-9
				a(href='http://207.154.222.175/actamatrimonio/') Acta Matrimonio
				ul
		.form-group
			label.control-label.col-sm-3 -
			.col-sm-9
				a(href='http://207.154.222.175/actadivorcio/') Acta Divorcio
				ul

		hr
		.form-buttons
			button(type='button')#account-form-btn1.btn.btn-default
			button(type='submit')#account-form-btn2.btn.btn-primary
		.clearfix

// display form errors in a custom modal window //




		
include modals/form-errors
		