doctype html
html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/plugins/TextPlugin.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js')
    script(src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/additional-methods.js')
    script(type='text/javascript').
      $(document).on('click', '#sub_user', function(ev) {
      ev.preventDefault();
      var super_estado = 1;
      var u = $(this).attr('data-iduser');
      $.ajax({
      type: 'POST',
      url: "",
      timeout: 50000,
      error: function(jqXHR, textStatus, errorThrown) {
      if (textStatus === 'timeout') {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      } else {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      }
      $.unblockUI();
      },
      success: function(data) {
      $("#detalle_plazas").modal('show');
      $("#central").html(data);
      $.unblockUI();
      }
      });
      });
    script(type='text/javascript').
      $(document).on('click', '#botonn', function(ev) {
      ev.preventDefault();
      //console.log(dataJson);
      //var elcui = "yEusJ";
      var elcui = $('#cuiusr').val();
      //alert("Hola Mundo" + nombre)
      $.ajax({
      type: 'GET',
      url: "http://localhost:8000/nacimiento/" + elcui,
      timeout: 50000,
      dataType: "jsonp",
      error: function(jqXHR, textStatus, errorThrown) {
      if (textStatus === 'timeout') {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      } else {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      }
      },
      success: function(data) {
      console.log(data.nombre);
      $('#nombre').html(data.nombre)
      $('#cui').html(data.cui)
      $('#fechadenacimiento').html(data.fechanacimiento)
      $('#genero').html(data.genero)
      $('#cuimadre').html(data.padres[0].unique_code)
      $('#cuipadre').html(data.padres[1].unique_code)
      $('#nombrem').html(data.padres[0].nombre)
      $('#nombrep').html(data.padres[1].nombre)
      $('#fechanacimientom').html(data.padres[0].fechanacimiento)
      $('#fechanacimientop').html(data.padres[1].fechanacimiento)
      // var objectNac =  $.parseJSON(data);
      //$.parseJSON(data);
      //  console.log(objectNac);
      }
      });
      });
  body
    h2  Certificado de Nacimiento
    p Este es el registor de nacimiento
    |  Ingrese CUI:
    br
    input#cuiusr(type='text', value='--')
    br
    button#botonn(type='button') Generar Certifcado de Nacimiento
    style(type='text/css').
      .tg {
      border-collapse: collapse;
      border-spacing: 0;
      border-color: #ccc;
      }
      .tg td {
      font-family: Arial, sans-serif;
      font-size: 14px;
      padding: 10px 5px;
      border-style: solid;
      border-width: 1px;
      overflow: hidden;
      word-break: normal;
      border-color: #ccc;
      color: #333;
      background-color: #fff;
      }
      .tg th {
      font-family: Arial, sans-serif;
      font-size: 14px;
      font-weight: normal;
      padding: 10px 5px;
      border-style: solid;
      border-width: 1px;
      overflow: hidden;
      word-break: normal;
      border-color: #ccc;
      color: #333;
      background-color: #f0f0f0;
      }
      .tg .tg-c3ow {
      border-color: inherit;
      text-align: center;
      vertical-align: top
      }
      .tg .tg-0pky {
      border-color: inherit;
      text-align: left;
      vertical-align: top
      }
      .tg .tg-okix {
      font-weight: bold;
      font-size: 32px;
      border-color: inherit;
      text-align: left;
      vertical-align: top
      }
      .tg .tg-0lax {
      text-align: left;
      vertical-align: top
      }
    table.tg
      tbody
        tr
          th.tg-0pky
          th.tg-0pky
          th.tg-0pky
            img(src='https://www.renap.gob.gt/sites/default/files/logotipo-encabezado-ancho-200.png', alt='Inicio')
          th.tg-0pky
          th.tg-0pky
          th.tg-0pky
          th.tg-0pky
          th.tg-0pky
          th.tg-0pky
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-c3ow
            | Registro Naciobal de las Personas
            br
            | Republilca de guatemala
            br
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-c3ow
            | Registro Civil de las Personas
            br
            | Certificado de Nacimiento
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-c3ow(colspan='9')
            | El Infraescrito Registrador Civil de las personas del Registro Nacional de las personas del 
            br
            | Municipio de Guatemala, Departamernto de Guatemala
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-c3ow
            | CERTIFICA
            br
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-okix
          td.tg-okix
          td.tg-okix
          td.tg-okix
            #nombre  
          td.tg-okix
          td.tg-okix
          td.tg-okix
          td.tg-okix
          td.tg-okix
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky Datos del Inscrito
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
            #cui  
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky CUI
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
            #fechadenacimiento  
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky Fecha Nacimiento
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
            #lugardenacimiento  
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
            #genero  
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky Genero
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-0pky(colspan='3') Datos de Madre
          td.tg-0pky
          td.tg-0pky(colspan='3') Datos de la padre
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-0pky(colspan='3')
            #cuimadre  
          td.tg-0pky
          td.tg-0pky(colspan='3')
            #cuipadre
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-0lax(colspan='3') CUI
          td.tg-0lax
          td.tg-0lax(colspan='3') CUI
          td.tg-0lax
          td.tg-0lax
        tr
          td.tg-0lax(colspan='3')
            #nombrem
          td.tg-0lax  
          td.tg-0lax(colspan='3')
            #nombrep
          td.tg-0lax
          td.tg-0lax
        tr
          td.tg-0lax(colspan='3') Nombre y Apellido
          td.tg-0lax
          td.tg-0lax(colspan='3') Nombre y Apellido
          td.tg-0lax
          td.tg-0lax
        tr
          td.tg-0lax(colspan='3')
            #fechanacimientom
          td.tg-0lax
          td.tg-0lax(colspan='3')
            #fechanacimientop
          td.tg-0lax
          td.tg-0lax
        tr
          td.tg-0lax(colspan='3') Fecha de Nacimiento
          td.tg-0lax
          td.tg-0lax(colspan='3') Fecha de Nacimiento
          td.tg-0lax
          td.tg-0lax
        tr
          td.tg-0lax
          td.tg-0lax
          td.tg-0lax
          td.tg-0lax
          td.tg-0lax
          td.tg-0lax
          td.tg-0lax
          td.tg-0lax
          td.tg-0lax
        tr
          td.tg-0lax
          td.tg-0lax
          td.tg-0lax
          td.tg-0lax
          td.tg-0lax
          td.tg-0lax
          td.tg-0lax
          td.tg-0lax
          td.tg-0lax
