doctype html
html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/plugins/TextPlugin.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js')
    script(src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/additional-methods.js')
    script(type='text/javascript').
      $(document).on('click', '#sub_user', function(ev) {
      ev.preventDefault();
      var super_estado = 1;
      var u = $(this).attr('data-iduser');
      $.ajax({
      type: 'POST',
      url: "",
      timeout: 50000,
      error: function(jqXHR, textStatus, errorThrown) {
      if (textStatus === 'timeout') {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      } else {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      }
      $.unblockUI();
      },
      success: function(data) {
      $("#detalle_plazas").modal('show');
      $("#central").html(data);
      $.unblockUI();
      }
      });
      });
    script(type='text/javascript').
      $(document).on('click', '#botonn', function(ev) {
      ev.preventDefault();
      //console.log(dataJson);
      //var elcui = "yEusJ";
      var H = $('#H').val();
      var M = $('#M').val();
      //alert("Hola Mundo" + nombre)
      $.ajax({
      type: 'GET',
      url: "http://localhost:8000/defuncion/" + H,
      timeout: 50000,
      dataType: "jsonp",
      error: function(jqXHR, textStatus, errorThrown) {
      if (textStatus === 'timeout') {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      } else {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      }
      },
      success: function(data) {
      console.log(data.nombre);
      $('#cui').html(data.data.cui)
      $('#nombre').html(data.data.nombre)
      $('#apellido').html(data.data.apellido)
      $('#fechanacimiento').html(data.data.fechaNacimiento)
      $('#fechadefuncion').html(data.data.fechaDefuncion)
      $('#causa').html(data.data.causa)
      // var objectNac =  $.parseJSON(data);
      //$.parseJSON(data);
      //  console.log(objectNac);
      }
      });
      });
  body
    h2  Certificado de Defuncion
    p DEFUNCION
    |  Ingrese CUI:
    br
    input#H(type='text', value='--')
    button#botonn(type='button') Generar Certifcado de DEFUNCION
    style(type='text/css').
      .tg {
      border-collapse: collapse;
      border-spacing: 0;
      border-color: #ccc;
      }
      .tg td {
      font-family: Arial, sans-serif;
      font-size: 14px;
      padding: 10px 5px;
      border-style: solid;
      border-width: 1px;
      overflow: hidden;
      word-break: normal;
      border-color: #ccc;
      color: #333;
      background-color: #fff;
      }
      .tg th {
      font-family: Arial, sans-serif;
      font-size: 14px;
      font-weight: normal;
      padding: 10px 5px;
      border-style: solid;
      border-width: 1px;
      overflow: hidden;
      word-break: normal;
      border-color: #ccc;
      color: #333;
      background-color: #f0f0f0;
      }
      .tg .tg-kt03 {
      font-family: Georgia, serif !important;
      ;
      border-color: inherit;
      text-align: center;
      vertical-align: top
      }
      .tg .tg-ng7p {
      border-color: #330001;
      text-align: left;
      vertical-align: top
      }
      .tg .tg-mjvq {
      font-family: Impact, Charcoal, sans-serif !important;
      ;
      border-color: inherit;
      text-align: center;
      vertical-align: top
      }
      .tg .tg-0pky {
      border-color: inherit;
      text-align: left;
      vertical-align: top
      }
      .tg .tg-73oq {
      border-color: #000000;
      text-align: left;
      vertical-align: top
      }
    table.tg
      tbody
        tr
          th.tg-0pky(colspan='3')
            img(src='https://www.renap.gob.gt/sites/default/files/logotipo-encabezado-ancho-200.png', alt='Inicio')
          th.tg-0pky
          th.tg-0pky
          th.tg-0pky
          th.tg-0pky
          th.tg-0pky
          th.tg-0pky
            img(src='https://wikiguate.com.gt/w/images/thumb/f/fb/Registro_Nacional_de_Personas.jpg/300px-Registro_Nacional_de_Personas.jpg', alt='Inicio', width='150px')
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-mjvq
            span(style='font-weight:bold;') Registro Naciobal de las Personas
            br
            span(style='font-weight:bold;') Republilca de guatemala
            br
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-kt03
            span(style='font-weight:bold;') Registro Civil de las Personas
            br
            span(style='font-weight:bold;') Certificado de Defucion
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
          td.tg-0pky
        tr
          td.tg-73oq(colspan='9') CUI  difuntto
        tr
          td.tg-73oq(colspan='9', rowspan='2')
            #cui 
        tr
        tr
          td.tg-73oq(colspan='9')
            #nombre  
        tr
          td.tg-73oq(colspan='9')
            #apellido 
        tr
          td.tg-73oq(colspan='9') Fecha de Nacimiento
            #fechanacimiento
        tr
          td.tg-ng7p(colspan='9') Fecha de Defuncion
            #fechadefuncion 
        tr
          td.tg-ng7p(colspan='9')
            #mdireccion  
        tr
          td.tg-ng7p(colspan='9') Causa de Muerte
            #causa
        tr
          td.tg-ng7p(colspan='9')
            | El Infraescrito con bases a la resolucion ditaminada dentro del marco del los procesos correspondiente
        tr
          td.tg-ng7p(colspan='9')
        tr
          td.tg-ng7p(colspan='9')
        tr
          td.tg-ng7p(colspan='9')
            | Observaciones:   
            #regimen  
        tr
          td.tg-ng7p(colspan='9')
            | De conformidad con la inferencia enviada por el Juzgad0 de Primera instancia del Municiopio de Gyatemala
            br
            | Departamento de Guatemala con fecha XXX-XX-XX
