
extends layout

block content

	#login.center-vertical
		form.well(id='form-login', method='post')
			h2 RENAP 2018
			h6 Introduzca sus datos 
			.form-group
				label Username
				input.form-control(type='text', id='user-tf', name='user')
			.form-group
				label Password
				input.form-control(type='password', id='pass-tf', name='pass')
			.controls
				button(type='button').btn.btn-default.button-rememember-me
					span.glyphicon.glyphicon-unchecked.button-rememember-me-glyph
					| Recuerdame
				button(type='submit').btn.btn-primary.button-sign-in
					span.glyphicon.glyphicon-lock
					| Entrar
			.clearfix
			hr
			.btm-links
				#forgot-password
					a(href='#') Olvidaste tu Password?
				#create-account
					a(href='/signup') Registrate
			.clearfix

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')
