doctype html
html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/plugins/TextPlugin.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js')
    script(src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/additional-methods.js')
    script(type='text/javascript').
      $(document).on('click', '#botonn', function(ev) {
      ev.preventDefault();
      console.log("asd");
      dataJson = {
      "unique_code": $("#UcodeH_Var").val(),
      "cuiCompareciente": $("#UcodeM_Var").val(),
      "municipio": $("#Muni_Var").val(),
      "lugarDefuncion": $("#LDefu_Var").val(),
      "fechaDefuncion": $("#FDefu_Var").val(),
      "causa": $("#RCausa_Var").val()
      }
      console.log(dataJson);
      //var nombre =  $( "#nombre" ).val();
      //alert("Hola Mundo" + nombre)
      $.ajax({
      type: 'POST',
      url: "http://localhost:8000/defuncion/",
      data: dataJson,
      timeout: 50000,
      error: function(jqXHR, textStatus, errorThrown) {
      if (textStatus === 'timeout') {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      } else {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      }
      $.unblockUI();
      },
      success: function(data) {}
      });
      alert('Acta de Defuncion creada');
      });
  body
    h2 Registro de Defuncion
    p Este es el registor de Defunciones
    form
      fieldset
        legend Personal information:
        |  DPI Hombre:
        br
        input#UcodeH_Var(type='text', value='tes')
        br
        |  DPI Mujer:
        br
        input#UcodeM_Var(type='text', value='Mouse')
        br
        br
        |  Municipio:
        br
        input#Muni_Var(type='text', value='Mouse')
        br
        br
        |             Lugar Defuncion:
        br
        input#LDefu_Var(type='text', value='Mouse')
        br
        br
        |  Fecha Defuncion:
        br
        input#FDefu_Var(type='text', value='Mouse')
        br
        br
        |  Causa:
        br
        input#RCausa_Var(type='text', value='Mouse')
    button#botonn(type='button') Registrar
