doctype html
html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/plugins/TextPlugin.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js')
    script(src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/additional-methods.js')
    script(type='text/javascript').
      $(document).on('click', '#botonn', function(ev) {
      ev.preventDefault();
      console.log("asd");
      dataJson = {
      "unique_codeH": $("#UcodeH_Var").val(),
      "unique_codeM": $("#UcodeM_Var").val(),
      "municipio": $("#Muni_Var").val(),
      "lugarMatrimonio": $("#Lmatri_Var").val(),
      "fechaMatrimonio": $("#Fmatri_Var").val(),
      "regimenMatrimonial": $("#Rmatri_Var").val()
      }
      console.log(dataJson);
      //var nombre =  $( "#nombre" ).val();
      //alert("Hola Mundo" + nombre)
      $.ajax({
      type: 'POST',
      url: "http://localhost:8000/matrimonio/",
      data: dataJson,
      timeout: 50000,
      error: function(jqXHR, textStatus, errorThrown) {
      if (textStatus === 'timeout') {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      } else {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      }
      $.unblockUI();
      },
      success: function(data) {}
      });
      alert('Acta de Matrimonio creada');
      });
  body
    h2 Registro de Nacimiento
    p Este es el registor de nacimiento
    form
      fieldset
        legend Personal information:
        | 			DPI Hombre:
        br
        input#UcodeH_Var(type='text', value='tes')
        br
        |  DPI Mujer:
        br
        input#UcodeM_Var(type='text', value='Mouse')
        br
        br
        |  Municipio:
        br
        input#Muni_Var(type='text', value='Mouse')
        br
        br
        |  Lugar Matrimonio:
        br
        input#Lmatri_Var(type='text', value='Mouse')
        br
        br
        |  Fecha Matrimonio:
        br
        input#Fmatri_Var(type='text', value='Mouse')
        br
        br
        |  Regimen Matrimonial:
        br
        input#Rmatri_Var(type='text', value='Mouse')
    button#botonn(type='button') Registrar
