doctype html
html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/plugins/TextPlugin.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js')
    script(src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/additional-methods.js')
    script(type='text/javascript').
      $(document).on('click', '#sub_user', function(ev) {
      ev.preventDefault();
      var super_estado = 1;
      var u = $(this).attr('data-iduser');
      $.ajax({
      type: 'POST',
      url: "",
      timeout: 50000,
      error: function(jqXHR, textStatus, errorThrown) {
      if (textStatus === 'timeout') {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      } else {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      }
      $.unblockUI();
      },
      success: function(data) {
      $("#detalle_plazas").modal('show');
      $("#central").html(data);
      $.unblockUI();
      }
      });
      });
    script(type='text/javascript').
      $(document).on('click', '#botonn', function(ev) {
      ev.preventDefault();
      dataJson = {
      "descripcion": $("#descripcion").val(),
      "nombre": $("#nombre").val(),
      "apellido1": $("#apellido").val(),
      "direccion": $("#direccion").val(),
      "padre": $("#padre").val(),
      "madre": $("#madre").val(),
      "fechanacimiento": $("#fechadenacimiento").val(),
      "genero": $("#genero").val(),
      "cui": $("#cui").val()
      }
      console.log(dataJson);
      //var nombre =  $( "#nombre" ).val();
      //alert("Hola Mundo" + nombre)
      $.ajax({
      type: 'POST',
      url: "http://localhost:8000/nacimiento/",
      data: dataJson,
      timeout: 50000,
      error: function(jqXHR, textStatus, errorThrown) {
      if (textStatus === 'timeout') {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      } else {
      alert('Ocurrio un error, Intentelo de nuevo porfavor');
      }
      },
      success: function(data) {
      }
      });
      });
  body
    h2 Registro de Nacimiento
    p Este es el registor de nacimiento
    form(action='http://localhost:8000/nacimiento/')
      fieldset
        legend Personal information:
        |  Nombre:
        br
        input#nombre(type='text', value='tes')
        br
        |  Apellido:
        br
        input#apellido(type='text', value='Mouse')
        br
        br
        |  Descripcion:
        br
        input#descripcion(type='text', value='Mouse')
        br
        br
        |  Padre:
        br
        input#padre(type='text', value='Mouse')
        br
        br
        |  Madre:
        br
        input#madre(type='text', value='Mouse')
        br
        br
        |  Direccion:
        br
        input#direccion(type='text', value='Mouse')
        br
        br
        |  Fecha de Nacimiento:
        br
        input#fechadenacimiento(type='text', value='Mouse')
        br
        br
        |  Genero:
        br
        input#genero(type='text', value='Mouse')
        br
        br
        |  CUI:
        br
        input#cui(type='text', value='Mouse')
        br
        br
        input(type='submit', value='Submit')
    button#botonn(type='button') Registrar
