
#get-credentials.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal') x
				h4 Recuperar Password
			.modal-body
				form(method="post")#get-credentials-form.well
					.form-group
						label Ingresa el correo asociado a tu cuenta.
						input.form-control(type="text", id='email-tf', name="email").required
						.alert.alert-danger.hide
			.modal-footer
					button(data-dismiss="modal")#cancel.btn.btn-default Cancelar
					button(type="submit")#retrieve-password-submit.btn.btn-primary Enviar
